@charset "utf-8";

* {margin:0;padding:0;zoom:100%;border:0;}



body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  background-color: #404040;
}
#Header {
	position:absolute;
	width:100%;
	height:110px;
	background-color: #FFF;
	margin:0px;
	padding:0px;
	border:none;
	border-bottom:10px solid #000;
}

#logoLeft{
	position:relative;
	top:-20px;
}

#logoRight{
	position:relative;
	float:right;
	right:0px;
	top:-20px;
}

#Content{
	position:absolute;
	top: 110px;
    bottom: 0;
    width:100%;
}

.formBox{
	position: relative;
	margin: 0 auto;
	padding: 20px 20px 20px;
	background: white;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
	overflow:hidden;
}

.formBoxHeader{
	margin: -20px -20px 21px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	color: #555;
	text-align: center;
	text-shadow: 0 1px white;
	background: #f3f3f3;
	border-bottom: 1px solid #cfcfcf;
	border-radius: 3px 3px 0 0;
	background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
	background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
	background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
	-webkit-box-shadow: 0 1px whitesmoke;
	box-shadow: 0 1px whitesmoke;
}


.clickable:hover{
	cursor:hand;
  	cursor:pointer;
}

@mixin vertical-align() {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
